

/******* main *******/
* {
  font-family: sans-serif;
}
body, html {
  overflow-x: hidden;
}
body {
  margin: auto;
  max-width: 380px;
  min-width: 380px;
  background: #060015;
  padding: 20px;
  font-size: 95%;
  color: #ddd;
}
a {
  color: #f8a300;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-top: 0px;
}


/******* common button *******/
.return-link {
  color: #eee;
  text-decoration: none;
  display: inline-block;
  font-weight: 200;
  padding: 6px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #281740;
}
.return-link div {
  display: flex;
  align-items: center;
}
.return-link img {
  margin-right: 5px;
}
.return-link:hover {
  background: #2b1d53;
}
/******* other common button *******/
.general-button {
  transition-duration: 100ms;
  min-height: 34px;
  padding: 0 20px;
  border-radius: 20px;
  background: linear-gradient(70deg, #f8a300, #fae6c1);
  font-size: 100%;
  display: block;
  margin: 0 auto 0 auto;
  color: #060015;
  border: none;
}
.general-button:hover,
.general-button:active {
  cursor: pointer;
  background: linear-gradient(70deg, #f86900, #ffc898)
}
.general-button:active {
  transform: scale(0.99);
}
/******* other common button *******/
.linkstyle-button {
  background: none;
  font-size: 100% !important;
  text-align: center;
  border: none;
  color: #f8a300;
  text-decoration: none;
  font-style: italic;
  margin: 0 auto 0 auto;
  display: block;
}
.linkstyle-button:hover,
.linkstyle-button:active {
  text-decoration: underline;
  cursor: pointer;
}



/******* CheckBox toggle w3School ******/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #777;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background: #060015;
  transition: .4s;
}
input:checked + .slider { background: #f8a300; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before { transform: translateX(20px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }



/******* utility *******/
.u-flex {
  display: flex;
  justify-content: center;
}
.u-purple-container {
  border: 1px solid #555;
  border-radius: 5px;
  background: #281740;
}

.u-purple-color { color: #ce44ce; }
.u-white-color { color: #fff; }
.u-text-center { text-align: center; }

.u-margin-bottom { margin-bottom: 15px; }
.u-margin-top { margin-top: 15px; }
.u-margin-left { margin-left: 15px; }
.u-margin-right { margin-right: 15px; }
.u-margin { margin: 15px; }

.u-no-margin-bottom { margin-bottom: 0px !important; }
.u-no-margin-top { margin-top: 0px !important; }
.u-no-margin-left { margin-left: 0px !important; }
.u-no-margin-right { margin-right: 0px !important; }
.u-no-margin { margin: 0px !important; }

.u-padding-bottom { padding-bottom: 20px; }
.u-padding-top { padding-top: 20px; }
.u-padding-left { padding-left: 20px; }
.u-padding-right { padding-right: 20px; }
.u-padding { padding: 20px; }
.u-padding-s { padding: 12px; }

.u-no-padding-bottom { padding-bottom: 0px !important; }
.u-no-padding-top { padding-top: 0px !important; }
.u-no-padding-left { padding-left: 0px !important; }
.u-no-padding-right { padding-right: 0px !important; }
.u-no-padding { padding: 0px !important; }

.u-font-size-s { font-size: 90%; }
.u-font-size-m { font-size: 95%; }
.u-font-size-l { font-size: 100%; }
.u-font-size-xl { font-size: 110%; }

.u-border { border: 1px solid #555; }
.u-border-top { border-top: 1px solid #555; }
.u-border-bottom { border-bottom: 1px solid #555; }
.u-border-left { border-left: 1px solid #555; }
.u-border-right { border-right: 1px solid #555; }

.u-border-dashed { border: 1px dashed #555; }
.u-border-top-dashed { border-top: 1px dashed #555; }
.u-border-bottom-dashed { border-bottom: 1px dashed #555; }
.u-border-left-dashed { border-left: 1px dashed #555; }
.u-border-right-dashed { border-right: 1px dashed #555; }

.u-no-border { border: none !important; }
.u-no-border-top { border-top: none !important; }
.u-no-border-bottom { border-bottom: none !important; }
.u-no-border-left { border-left: none !important; }
.u-no-border-right { border-right: none !important; }
