

/******* main *******/
body, html {
  overflow: hidden;
}
body {
  margin: auto;
  max-width: 380px;
  min-width: 380px;
  background: #060015;
  padding: 20px;
  font-family: sans-serif;
  font-size: 95%;
  color: white;
}
a {
  font-weight: bolder;
  color: #f8a300;
}
p {
  margin-top: 0px;
}


/******* common button *******/
.return-link {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: 200;
  padding: 6px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #160f2a;
}
.return-link div {
  display: flex;
  align-items: center;
}
.return-link img {
  margin-right: 5px;
}
.return-link:hover {
  background: #2b1d53;
}
/******* other common button *******/
.general-button {
  transition-duration: 100ms;
  min-height: 34px;
  padding: 0 20px;
  border-radius: 20px;
  background: linear-gradient(70deg, #f8a300, #fae6c1);
  font-size: 100%;
  display: block;
  margin: 0 auto 0 auto;
  color: #060015;
  border: none;
}
.general-button:hover,
.general-button:active {
  cursor: pointer;
  background: linear-gradient(70deg, #f86900, #ffc898)
}
.general-button:active {
  transform: scale(0.99);
}
/******* other common button *******/
.linkstyle-button {
  background: none;
  font-size: 100%;
  border: none;
  color: #f8a300;
  text-decoration: underline;
  font-style: italic;
  margin: 0 auto 0 auto;
  display: block;
}
.linkstyle-button.linkstyle-button--red {
  color: red;
}
.linkstyle-button:hover,
.linkstyle-button:active {
  cursor: pointer;
}



/******* CheckBox toggle w3School ******/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #777;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background: #060015;
  transition: .4s;
}
input:checked + .slider { background: #f8a300; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before { transform: translateX(20px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }



/******* utility *******/
.u-flex {
  display: flex;
  justify-content: center;
}
.u-purple-container {
  border: 1px solid #444;
  border-radius: 5px;
  background: #160f2a;
}
.u-margin-bottom-s { margin-bottom: 10px; }
.u-margin-bottom-m { margin-bottom: 15px; }
.u-margin-bottom-l { margin-bottom: 20px; }
.u-margin-bottom-xl { margin-bottom: 30px; }

.u-margin-top-s { margin-top: 10px; }
.u-margin-top-m { margin-top: 15px; }
.u-margin-top-l { margin-top: 20px; }
.u-margin-top-xl { margin-top: 30px; }

.u-margin-left-s { margin-left: 10px; }
.u-margin-left-m { margin-left: 15px; }
.u-margin-left-l { margin-left: 20px; }
.u-margin-left-xl { margin-left: 30px; }

.u-margin-right-s { margin-right: 10px; }
.u-margin-right-m { margin-right: 15px; }
.u-margin-right-l { margin-right: 20px; }
.u-margin-right-xl { margin-right: 30px; }

.u-margin-s { margin: 10px; }
.u-margin-m { margin: 15px; }
.u-margin-l { margin: 20px; }
.u-margin-xl { margin: 30px; }


.u-padding-bottom-s { padding-bottom: 10px; }
.u-padding-bottom-m { padding-bottom: 15px; }
.u-padding-bottom-l { padding-bottom: 20px; }
.u-padding-bottom-xl { padding-bottom: 30px; }

.u-padding-top-s { padding-top: 10px; }
.u-padding-top-m { padding-top: 15px; }
.u-padding-top-l { padding-top: 20px; }
.u-padding-top-xl { padding-top: 30px; }

.u-padding-left-s { padding-left: 10px; }
.u-padding-left-m { padding-left: 15px; }
.u-padding-left-l { padding-left: 20px; }
.u-padding-left-xl { padding-left: 30px; }

.u-padding-right-s { padding-right: 10px; }
.u-padding-right-m { padding-right: 15px; }
.u-padding-right-l { padding-right: 20px; }
.u-padding-right-xl { padding-right: 30px; }

.u-padding-s { padding: 10px; }
.u-padding-m { padding: 15px; }
.u-padding-l { padding: 20px; }
.u-padding-xl { padding: 30px; }

.u-reset-padding { margin: 0 -20px; }

.u-font-size-s { font-size: 88%; }
.u-font-size-m { font-size: 95%; }
.u-font-size-l { font-size: 102%; }
.u-font-size-xl { font-size: 109%; }


.u-border { border: 1px solid #444; }
.u-border-top { border-top: 1px solid #444; }
.u-border-bottom { border-bottom: 1px solid #444; }
.u-border-left { border-left: 1px solid #444; }
.u-border-right { border-right: 1px solid #444; }
