

/******* header *******/
.header img {
  display: block;
  margin: auto;
}
.header p {
  text-align: center;
}



/******* loading *******/
.loading p {
  font-style: italic;
  color: #ce44ce;
  text-align: center;
}
.loading-dot-container {
  display: flex;
  justify-content: center;
}
.loading .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
  background: white;
  animation-name: dot-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loading .dot1 { animation-delay: 0s; }
.loading .dot2 { animation-delay: 0.25s; }
.loading .dot3 { animation-delay: 0.5s; }
@keyframes dot-animation {
  0% { transform: translateY(0px); }
  15% { transform: translateY(-10px); }
  30% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}



/******* user-keys-section *******/
.user-keys-section p {
  text-align: center;
  color: white;
  font-style: italic;
}
