

/******* header *******/
.header img {
  display: block;
  margin: auto;
}
.header p {
  text-align: center;
}



/******* loading *******/
.loading-user-keys p {
  font-style: italic;
  text-align: center;
}
.loading-user-keys .loading-dot-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 8px;
}
.loading-user-keys .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
  background: #eee;
  animation-name: dot-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loading-user-keys .dot1 { animation-delay: 0s; }
.loading-user-keys .dot2 { animation-delay: 0.25s; }
.loading-user-keys .dot3 { animation-delay: 0.5s; }
@keyframes dot-animation {
  0% { transform: translateY(0px); }
  15% { transform: translateY(-10px); }
  30% { transform: translateY(0px); }
  100% { transform: translateY(0px); }
}



/******* user-keys-section *******/
.user-keys-section p {
  text-align: center;
  font-style: italic;
}



/******* friends-keys-section *******/
.keys-friends-list {
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
.keys-friends-list ul {
  padding: 0 0;
  margin: 0 0;
}
.keys-friends-list ul li {
  list-style: none;
  padding: 14px 20px;
  border-top: 1px dashed #555;
}
.keys-friends-list ul li:first-child {
  border: none;
}
